@{
    ViewBag.Title = "PhotosPage";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}


@section styles{
    <link href='@Url.Content("~/Content/photos.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Content/sweetalert.css")' rel="stylesheet" />
}


<input type="hidden" id="hdnProfileID" value="" />
<div class="container" style="margin-top: 25px; border-left: 1px solid grey; border-right: 1px solid grey;"></div>
<div id="hiddenAlbumLinks"></div>






@section scripts{
    <script>
        var ROOT = '@Url.Content("~/")';
    </script> 
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/sweetalert.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-multidownload.js")"></script>
    @Scripts.Render("~/bundles/photos")
    <script>
        var vm = new PhotosController(new PhotosView(), new PhotosService());
    </script>
}

@{
    Html.RenderAction("Chat", "Messages");
}