@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("VisitorAndPageOwnerId");
}


@section styles{

    @RenderSection("styles", required: false)

    <link href="@Url.Content("~/Content/nestedSiteMaster.css")" rel="stylesheet" />
}

<script src="~/Scripts/users.js"></script>
 

<div id="nav_content_footer">

    <div style="margin-left: 140px; margin-top: -52px;">
        <div style="padding: 15px 0 5px 10px;">
            <input id="txtName" type="text" />
            <input id="btnPeople" type="button" value="People" onclick="users.findUsers(friendsOnly = false, online = false)" />
            <input id="btnFriends" type="button" value="Friends" onclick="users.findUsers(friendsOnly = true, online = false)" />
            <span id="searchMode"></span>
        </div>

        <nav id="nav" style="margin-top: 40px;">
            <ul>
                <li>
                    @Html.ActionLink("My Page", "MainPage", "Main", null, null)
                </li>
                <li>
                    <a onclick="users.findUsers(friendsOnly = true, online = false)">My Friends</a>
                </li>
                <li>
                    @Html.ActionLink("My Photos", "PhotosPage", "Photos", null, null)
                </li>
                <li>
                    @Html.ActionLink("My Messages", "MessagesPage", "Messages", null, null)
                </li>
                <li>
                    @Html.ActionLink("My Settings", "SettingsPage", "Settings", null, null)
                </li>
            </ul>
        </nav>
        <div id="/Content">
            <div id="innerContent" style="margin-top: 31px;">
                @RenderBody()
            </div>
        </div>
    </div>
</div>



@section scripts{

    @RenderSection("scripts", false)

}





