@model IEnumerable<MvcApp.ViewModel.MessagesViewModel>

@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}

@section styles{
    <link href='@Url.Content("~/Content/bootstrap_settings_page.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Content/settings_profile.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Content/messages.css")' rel="stylesheet" />
}


<script>
    var ROOT = '@Url.Content("~/")';
</script>
<script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/sweetalert.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>
@Scripts.Render("~/bundles/signalr.messages")
<script>
    var hub = $.connection.hub,
        client = $.connection.chatHub.client,
        server = $.connection.chatHub.server,
        view = new MessagesSignalrView();

    var signalr = new MessagesSignalrController(hub, client, server, view);
</script>
@Scripts.Render("~/bundles/messages")
<script>
    var vm = new MessagesController(new MessagesView(), new MessagesService());
</script>


<div class="container">

    <ul class="nav nav-tabs">
        <li class="active" id="li_dialogs">
            <a data-toggle="tab" href="#dialogs">Dialogs</a>

        </li>
        <li id="li_lookDialog">
            <a data-toggle="tab" href="#menu1">Dialog viewer</a>
        </li>
    </ul>

    <div class="tab-content">

        <div id="dialogs" class="tab-pane fade in active">

            <input type="hidden" id="hdnActiveDialogID" />
            <input type="hidden" id="hdnMyCurrentInterlocutor" />

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <a data-toggle="tab"
                       data-dialogid='@item.DialogID'
                       data-interlocutoruserid='@item.InterlocutorUserID '
                       href="#menu1"
                       class="linkToDialog"
                       onclick="signalr.setWhoIsMyCurrentInterlocutor(this);
                                     signalr.goToDialog(this);
                                     vm.getUsersInfoForDialogForm(this);
                                     vm.goToDialog(this)">
                        <table class="dialogs_row_t">
                            <tbody>
                                <tr>
                                    <td class="dialogs_photo">
                                        <img src="@Url.Content("~/"+ item.InterlocutorAvatar)" width="50" height="50">
                                    </td>
                                    <td class="dialogs_info">
                                        <div class="dialogs_user wrapped" data-interlocutoruserid='@item.InterlocutorUserID'>@item.InterlocutorUserName</div>

                                        <div class="dialogs_date">@item.CreateDate</div>
                                    </td>
                                    <td class="dialogs_msg_contents">
                                        <div class="dialogs_msg_body  clear_fix" style="opacity: 1;">

                                            <div class="dialogs_comment">@Html.Raw(item.MessageText)</div>
                                        </div>
                                    </td>
                                    <td class="dialogs_unread_td">
                                        <div class="dialogs_unread unshown"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                }
            }
        </div>

        <div id="menu1" class="tab-pane fade dialogs" style="">
            <div class="myBox">
                <table>
                    <tbody id="conversation"></tbody>
                </table>
            </div>
            <table id="write_form"></table>
        </div>
    </div>
</div>

@section scripts{
}





