@model IEnumerable<Core.POCO.Status>

@if (Model != null)
{
    foreach (var status in Model)
    {
        <li>
            <div class="table_">
                <div class="table_row">
                    <div class="table_leftCell">
                        <img src='@Url.Content("~/"+status.AvatarUrl)' class="post_image" width="30" />
                    </div>
                    <div class="table_rightCell">
                        <b>@status.UserName</b>

                        @if (ViewBag.CurrentVisitorIsOwnerOfCurrentPage == true)
                        {
                            @Html.Raw("<a class='delete' onclick='vm.deletePost(this)'>delete</a>")
                        }

                        <br />
                        @status.Post
                    </div>
                </div>
            </div>
            <input type="hidden" value="@status.ID" data-statusid="hdnStatusId" />

            @status.CreateDate  |

            @if (ViewBag.DisplayCommentLink == true)
            {
                @Html.Raw("<a onclick='vm.createCommentsForm(this)'>Comment</a>")
            }
            <hr />
            @if (ViewBag.DisplayComments == true)
            {
                @Html.Partial("Comments", status)
            }
        </li>
    }

}
