
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}

@section styles{
    <link href='@Url.Content("~/Content/people_friends.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Content/friends.css")' rel="stylesheet" />
}


<div id="searchForm" data-userid="">
    <ul>
        <li>
            Страна :
        </li>
        <li>

            <select id="ddlCountry"
                    name="D1"
                    class="auto-style1"
                    onchange="vm.setTownsToDefault();
                              vm.getTownsBySelectedCountry();
                              vm.getUsers()"></select>

            <br />
            <div id="Towns">
                Город :<br />

                <select id="ddlTown"
                        name="D1"
                        class="auto-style2"
                        onchange="vm.getUsers()">
                    <option value="0"></option>
                </select>
            </div>

        </li>
        <li>
            Возраст :
        </li>
        <li>
            <select id="ddlFrom"
                    name="D1"
                    class="auto-style3"
                    onchange="vm.updateAgeValue();
                              vm.getUsers()"></select>
            -
            <select id="ddlTo"
                    name="D1"
                    class="auto-style4"
                    onchange="vm.getUsers()"></select>

        </li>
        <li>
            Пол :
        </li>


        <li style="margin-left: 0px">
            <input onchange="vm.getUsers()" name="gender" type="radio" value="Any" checked="checked" />All<br />
            <input onchange="vm.getUsers()" name="gender" type="radio" value="Male" />Male<br />
            <input onchange="vm.getUsers()" name="gender" type="radio" value="Female" />Female<br />
        </li>

    </ul>
</div>

<div id="friendsList">
    <table>
        <tbody id="users"></tbody>
    </table>
</div>



<link href="/Content/main_popup_window.css" rel="stylesheet" />
<input class="modal-state" id="modal-1" type="checkbox" />
<div class="modal">
    <label class="modal__bg" for="modal-1"></label>
    <div class="modal__inner">
        <label class="modal__close" for="modal-1"></label>
        <div>
            <span>Message</span>
            <textarea id="messageBody"></textarea>
            <input type="button" id="sendBtn" onclick="vm.createNewDialog()" value="Send" />
        </div>
    </div>
</div>


@section scripts{

    <script>
        var ROOT = '@Url.Content("~/")';
    </script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/modalPopLite.min.js")"></script>
    <script src="@Url.Content("~/Scripts/_base/promise.js")"></script>
    <script src="@Url.Content("~/Scripts/_base/ajax.js")"></script>
    <script src="@Url.Content("~/Scripts/_people/view.js")"></script>
    <script src="@Url.Content("~/Scripts/_people/service.js")"></script>
    <script src="@Url.Content("~/Scripts/_people/controller.js")"></script>
    <script>
        var view = new PeopleView(),
            service = new PeopleService(),
            vm = new PeopleController(view, service);
    </script>
}




@{
    Html.RenderAction("Chat", "Messages");
}